{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{# https://symfony.com/doc/3.3/reference/forms/twig_reference.html #}