{% extends 'base.html.twig' %}

{% block title %}Carrito{% endblock %}

{% block body %}

    {{ include('comunes/_header.html.twig') }}
    <section class="h-100 mt-5">
      <div class="container py-5 mt-5">
        <div class="row d-flex justify-content-center my-4">
          <div class="col-md-8">
            <div class="card mb-4">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="h5">Carrito Compra</th>
                      <th scope="col">ID</th>
                      <th scope="col">Unidades</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr id="">
                      <th scope="row">
                        <div class="d-flex align-items-center">
                          <img
                            src=""
                            id="imagen_producto"
                            class="img-fluid rounded-3"
                            style="width: 120px"
                            alt="Book"
                          />
                          <div class="flex-column ms-4">
                            <p class="mb-2" id="nombre_producto"></p>
                          </div>
                        </div>
                      </th>
                      <td class="align-middle">
                        <p class="mb-0" id="id_producto" style="font-weight: 500"></p>
                      </td>
                      <td class="align-middle">
                        <div class="d-flex flex-row">
                          

                          <input
                            id="form1"
                            min="0"
                            name="quantity"
                            value="2"
                            type="number"
                            class="form-control form-control-sm"
                            style="width: 50px"
                          />

                          
                        </div>
                      </td>
                      <td class="align-middle">
                        <p class="mb-0" id="precio_producto" style="font-weight: 500"></p>
                      </td>


                    {#</tr>
                      <th scope="row">
                        <div class="d-flex align-items-center">
                          <img
                            src="images/producto2.png"
                            class="img-fluid rounded-3"
                            style="width: 120px"
                            alt="Book"
                          />
                          <div class="flex-column ms-4">
                            <p class="mb-2">Nombre de producto</p>
                          </div>
                        </div>
                      </th>
                      <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500">#6765</p>
                      </td>
                      <td class="align-middle">
                        <div class="d-flex flex-row">

                          <input
                            id="form1"
                            min="0"
                            name="quantity"
                            value="2"
                            type="number"
                            class="form-control form-control-sm"
                            style="width: 50px"
                          />
  
                        </div>
                      </td>
                      <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500">€ 15.5</p>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row" class="border-bottom-0">
                        <div class="d-flex align-items-center">
                          <img
                            src="images/producto4.png"
                            class="img-fluid rounded-3"
                            style="width: 120px"
                            alt="producto3"
                          />
                          <div class="flex-column ms-4">
                            <p class="mb-2">Nombre de producto</p>
                          </div>
                        </div>
                      </th>
                      <td class="align-middle border-bottom-0">
                        <p class="mb-0" style="font-weight: 500">#2436</p>
                      </td>
                      <td class="align-middle border-bottom-0">
                        <div class="d-flex flex-row">
                          
                          <input
                            id="form1"
                            min="0"
                            name="quantity"
                            value="1"
                            type="number"
                            class="form-control form-control-sm"
                            style="width: 50px"
                          />

                          
                        </div>
                      </td>
                      <td class="align-middle border-bottom-0">
                        <p class="mb-0" style="font-weight: 500">€ 7.50</p>
                      </td>
                    </tr> #}
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h3 class="mb-4">Resumen Pago</h3>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
                  >
                    Productos
                    <span>€53.98</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-0"
                  >
                    Envío
                    <span>Gratis</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                  >
                    <div>
                      <strong>Total</strong>
                      <strong>
                        <p class="mb-0">(incluye IVA)</p>
                      </strong>
                    </div>
                    <span><strong>€53.98</strong></span>
                  </li>
                </ul>

               
                <div class="d-grid gap-2 my-2">
                  <a href="#"class="btn pink-btn">Finalizar Compra</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

