/*-- GLOBAL -- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Playfair+Display:ital,wght@1,600&display=swap");

:root {
  --lg-font: "Playfair Display", serif;
  --sm-font: "Montserrat", sans-serif;
  --pink: #d686c5;
}
body {
  font-family: var(--sm-font);
}

/* button */
.bg-primary {
  background-color: var(--pink) !important;
}

.pink-btn {
  background-color: var(--pink) !important;
  color: #fff !important;
  border-color: var(--pink) !important;
  border-radius: 25px;
}
.outline-btn {
  border-color: black;
  border-radius: 25px;
}

.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover {
  background-color: var(--pink);
  color: #fff;
  border-color: var(--pink);
}
.pink-btn {
  background-color: var(--pink) !important;
  color: #fff !important;
  border-color: var(--pink) !important;
  border-radius: 25px;
}
.outline-btn {
  border-color: black !important;
  border-radius: 25px !important;
}

/* text color */
.text-primary {
  color: var(--pink) !important;
}

/* -- NAVBAR -- */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
  width: 30px;
}
.navbar-brand span {
  letter-spacing: 2px;
  font-family: var(--lg-font);
}
.nav-link:hover {
  color: var(--pink) !important;
}
.nav-item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.login-btn {
  background-color: var(--pink);
  color: #fff;
  border-color: var(--pink);
  border-radius: 25px;
}

/* -- FOOTER -- */
footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 2px;
}
footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer a:hover {
  color: var(--pink) !important;
}

/* media queries */
@media (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
}

/* -- HOMEPAGE -- */

/* header */
#header {
  background: url(../images/banner-img-1.jpg) top/cover no-repeat;
}

/* collection */
.active-filter-btn {
  background-color: var(--pink) !important;
  color: #fff !important;
  border-color: var(--pink) !important;
}
.filter-button-group .btn:hover {
  color: #fff !important;
}
.collection-img span {
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

/* special features */
.special-img span {
  top: 20px;
  right: 20px;
}
.special-img img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.special-img:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* offers */
#offers {
  background: url(../images/offer_img.jpg) center/cover no-repeat;
}
#offers .row {
  min-height: 60vh;
}
.offers-content span {
  font-size: 28px;
}
.offers-content h2 {
  font-size: 40px;
  font-family: var(--lg-font);
}
.offers-content .btn {
  border-color: transparent !important;
}

/*testimonials*/
.testimonial-img {
  width: 180px;
}

/* newsletter */
#newsletter {
  background-color: #d686c52a;
}
#newsletter p {
  max-width: 600px;
}
#newsletter .input-group {
  max-width: 500px;
}
#newsletter .form-control {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#newsletter .btn {
  background-color: var(--pink);
  color: #fff;
  border-color: var(--pink);
}
#newsletter .btn:hover {
  background-color: #000;
  border-color: #000;
}

/* -- SHOW (Product Detail Page) -- */

.card{border:none}
/* .product{background-color: #eee} */
.brand{font-size: 13px}
.act-price{color:rgb(66, 75, 80);font-weight: 700}
.dis-price{text-decoration: line-through}
.about{font-size: 14px}
.color{margin-bottom:10px}
label.radio{cursor: pointer}
label.radio input{position: absolute;top: 0;left: 0;visibility: hidden;pointer-events: none}
label.radio span{padding: 2px 9px;border: 2px solid var(--pink);display: inline-block;color: var(--pink);border-radius: 3px;text-transform: uppercase}
label.radio input:checked+span{border-color: var(--pink);background-color: var(--pink);color: #fff}
.btn-danger{background-color: var(--pink) !important;border-color: var(--pink) !important}
.btn-danger:hover{background-color: var(--pink) !important;border-color: var(--pink) !important}
.btn-danger:focus{box-shadow: none}
.cart i{margin-right: 10px}
.similar-product img {
  height: 400px;
}

