{% extends 'base.html.twig' %}

{% block body %}

{{ include('comunes/_header.html.twig') }}

   <div class="container-xxl py-5 mt-5 mb-5">
      <div class="container">
        <div class="row g-5 mb-4">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <p class="text-uppercase mt-4" id="pink">Escribe tu mensaje</p>
            <h1 class="title mb-4">
              Si tiene alguna consulta, contáctenos
            </h1>
            <p class="mb-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <form>
              <div class="row g-3">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                    />
                    <label for="name">Nombre</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Your Email"
                    />
                    <label for="email">Email</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="subject"
                      placeholder="Subject"
                    />
                    <label for="subject">Titulo</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea
                      class="form-control"
                      placeholder="Leave a message here"
                      id="message"
                      style="height: 100px"
                    ></textarea>
                    <label for="message">Mensaje</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn pink-btn mt-2" type="submit">
                    Enviar mensaje
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div
            class="col-lg-5 wow fadeIn"
            data-wow-delay="0.5s"
            style="min-height: 450px"
          >
            <div class="position-relative mt-4 rounded overflow-hidden h-100">
              <iframe
                class="position-relative w-100 h-100"
                src="https://maps.google.com/maps?q=gran%20via%2071%20madrid&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                style="min-height: 450px; border: 0"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ include('comunes/_footer.html.twig') }}
{% endblock %}