{% extends 'base.html.twig' %}

{% block body %}

{{ include('comunes/_header.html.twig') }}

    <!-- Header Start -->
    <div class="container-fluid about-header py-6">
      <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white mb-3">Sobre Nosotros</h1>
      </div>
    </div>
    <!-- Header End -->

    <!-- About Part 1 Start -->
    <div class="container-xxl py-6 mb-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row img-twice position-relative h-100">
              <div>
                <img class="img-fluid" src="/images/about-us.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="h-100">
              <p class="text-uppercase mb-2" id="pink">Nuestra Historia</p>
              <h1 class="mb-4 title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </h1>
              <p>
                Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
                Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,
                sed stet lorem sit clita duo justo magna dolore erat amet Clita
                erat ipsum et lorem et sit, sed stet lorem sit clita duo justo
                magna dolore erat amet
              </p>
              <div class="row g-2 mb-4 mt-2">
                <div class="col-sm-6">
                  <i class="fa fa-check me-2" id="pink"></i>Hecho A Mano
                </div>
                <div class="col-sm-6">
                  <i class="fa fa-check me-2" id="pink"></i>Ahorras Dinero
                </div>
                <div class="col-sm-6">
                  <i class="fa fa-check me-2" id="pink"></i>Gran Variedad
                </div>
                <div class="col-sm-6">
                  <i class="fa fa-check me-2" id="pink"></i>Talleres Gratuitos
                </div>
              </div>
              <a class="btn pink-btn mt-1" href="">Ver productos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Part 1 End -->

    <!-- About Part 2 Start -->
    <div class="container my-5" id="about-us-container-2">
      <div class="container my-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px">
          <p class="text-uppercase mb-2 mt-5" id="pink">Manualidades</p>
          <h1 class="display-6 mb-4 title">Categorias de productos</h1>
        </div>
        <div class="row g-4">
          <div class="col-lg-3 col-md-6">
            <div class="team-item text-center rounded overflow-hidden">
              <img class="img-fluid" src="/images/2.png" alt="" />
              <div class="team-title">
                <h5 class="mt-3">Pintura</h5>
                <a href="#" id="pink"
                  >Ver mas <i class="fa fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item text-center rounded overflow-hidden">
              <img class="img-fluid" src="/images/5.png" alt="" />
              <div class="team-text">
                <div class="team-title">
                  <h5 class="mt-3">Tejido de punto</h5>
                  <a href="#" id="pink"
                    >Ver mas<i class="fa fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="text-center rounded">
              <img class="img-fluid" src="/images/3.png" alt="" />
              <h5 class="mt-3">Escultura</h5>
              <a href="#" id="pink"
                >Ver mas<i class="fa fa-arrow-right"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item text-center rounded overflow-hidden">
              <img class="img-fluid" src="/images/4.png" alt="" />
              <div class="team-text">
                <div class="team-title">
                  <h5 class="mt-3">Artesanía</h5>
                  <a href="#" id="pink"
                    >Ver mas <i class="fa fa-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Part 2 End --> 
{% endblock %}