@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Playfair+Display:ital,wght@1,600&display=swap");

:root {
  --lg-font: "Playfair Display", serif;
  --sm-font: "Montserrat", sans-serif;
  --pink: #d686c5;
}
body {
  font-family: var(--sm-font);
}

/* footer */
footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 2px;
}
footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer a:hover {
  color: var(--pink) !important;
}

/* media queries */
@media (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
}

/*Pagina Principal*/
/* newsletter */
#newsletter {
  background-color: #d686c52a;
}
#newsletter p {
  max-width: 600px;
}
#newsletter .input-group {
  max-width: 500px;
}
#newsletter .form-control {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#newsletter .btn {
  background-color: var(--pink);
  color: #fff;
  border-color: var(--pink);
}
#newsletter .btn:hover {
  background-color: #000;
  border-color: #000;
}
