*{
    box-sizing: border-box;
}

/* #contenedorGrid_productos{
    display: grid;
    width: 90%;
    background-color: #2196F3;
    /* height: 250px; 
    grid-template-rows: 45% 45%;
    grid-template-columns: repeat(4, 21%);
    grid-gap: 4%;
    margin-left:auto;
    margin-right:auto;
} */

/* #contenedorGrid_productos > div{
    background-color: white;
} */

.flexProducto{
    display: flex;
    flex-direction: column;
}