<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- fontawesome cdn -->
            <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            />
            <!-- bootstrap css -->
            <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
            <!-- custom css -->
            <link rel="stylesheet" href="/css/app_styles.css" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- jquery -->
            <script src="/js/jquery-3.6.0.js"></script>
            <!-- isotope js -->
            <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
            <!-- bootstrap js -->
            <script src="/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
            <!-- custom js -->
            <script src="/js/script.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
