{% extends 'base.html.twig' %}

{% block title %}Carrito{% endblock %}

{% block body %}

<div class="container">

<img
    src="{{ asset('/images/403.gif') }}"
    id="imagen_producto"
    class="img-fluid rounded-3"
    style="width: 120px"
    alt="Book"
/>

</div>

{% endblock %}